.home .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.home .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.home .anchor:focus {
  outline: none;
}

.home h1 .octicon-link,
.home h2 .octicon-link,
.home h3 .octicon-link,
.home h4 .octicon-link,
.home h5 .octicon-link,
.home h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.home h1:hover .anchor,
.home h2:hover .anchor,
.home h3:hover .anchor,
.home h4:hover .anchor,
.home h5:hover .anchor,
.home h6:hover .anchor {
  text-decoration: none;
}

.home h1:hover .anchor .octicon-link,
.home h2:hover .anchor .octicon-link,
.home h3:hover .anchor .octicon-link,
.home h4:hover .anchor .octicon-link,
.home h5:hover .anchor .octicon-link,
.home h6:hover .anchor .octicon-link {
  visibility: visible;
}

.home h1:hover .anchor .octicon-link:before,
.home h2:hover .anchor .octicon-link:before,
.home h3:hover .anchor .octicon-link:before,
.home h4:hover .anchor .octicon-link:before,
.home h5:hover .anchor .octicon-link:before,
.home h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}
.home {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.home details {
  display: block;
}

.home summary {
  display: list-item;
}

.home a {
  background-color: initial;
}

.home a:active,
.home a:hover {
  outline-width: 0;
}

.home strong {
  font-weight: inherit;
  font-weight: bolder;
}

.home h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.home img {
  border-style: none;
}

.home code,
.home kbd,
.home pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.home hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.home input {
  font: inherit;
  margin: 0;
}

.home input {
  overflow: visible;
}

.home [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.home * {
  box-sizing: border-box;
}

.home input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.home a {
  color: #0366d6;
  text-decoration: none;
}

.home a:hover {
  text-decoration: underline;
}

.home strong {
  font-weight: 600;
}

.home hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: initial solid rgb(33, 37, 41);
}

.home hr:after,
.home hr:before {
  display: table;
  content: "";
}

.home hr:after {
  clear: both;
}

.home table {
  border-spacing: 0;
  border-collapse: collapse;
}

.home td,
.home th {
  padding: 0;
}

.home details summary {
  cursor: pointer;
}

.home kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.home h1 {
  font-size: 32px;
}

.home h1,
.home h2 {
  font-weight: 600;
}

.home h2 {
  font-size: 24px;
}

.home h3 {
  font-size: 20px;
}

.home h3,
.home h4 {
  font-weight: 600;
}

.home h4 {
  font-size: 16px;
}

.home h5 {
  font-size: 14px;
}

.home h5,
.home h6 {
  font-weight: 600;
}

.home h6 {
  font-size: 12px;
}

.home p {
  margin-top: 0;
  margin-bottom: 10px;
}

.home blockquote {
  margin: 0;
}

.home ol,
.home ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.home ol ol,
.home ul ol {
  list-style-type: lower-roman;
}

.home ol ol ol,
.home ol ul ol,
.home ul ol ol,
.home ul ul ol {
  list-style-type: lower-alpha;
}

.home dd {
  margin-left: 0;
}

.home code,
.home pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}

.home pre {
  margin-top: 0;
  margin-bottom: 0;
}

.home input::-webkit-inner-spin-button,
.home input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.home :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.home .border {
  border: 1px solid #e1e4e8 !important;
}

.home .border-0 {
  border: 0 !important;
}

.home .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}

.home .rounded-1 {
  border-radius: 3px !important;
}

.home .bg-white {
  background-color: #fff !important;
}

.home .bg-gray-light {
  background-color: #fafbfc !important;
}

.home .text-gray-light {
  color: rgb(33, 37, 41) !important;
}

.home .mb-0 {
  margin-bottom: 0 !important;
}

.home .my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.home .pl-0 {
  padding-left: 0 !important;
}

.home .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.home .pl-1 {
  padding-left: 4px !important;
}

.home .pl-2 {
  padding-left: 8px !important;
}

.home .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.home .pl-3,
.home .px-3 {
  padding-left: 16px !important;
}

.home .px-3 {
  padding-right: 16px !important;
}

.home .pl-4 {
  padding-left: 24px !important;
}

.home .pl-5 {
  padding-left: 32px !important;
}

.home .pl-6 {
  padding-left: 40px !important;
}

.home .f6 {
  font-size: 12px !important;
}

.home .lh-condensed {
  line-height: 1.25 !important;
}

.home .text-bold {
  font-weight: 600 !important;
}

.home .pl-c {
  color: rgb(33, 37, 41);
}

.home .pl-c1,
.home .pl-s .pl-v {
  color: #005cc5;
}

.home .pl-e,
.home .pl-en {
  color: #6f42c1;
}

.home .pl-s .pl-s1,
.home .pl-smi {
  color: #24292e;
}

.home .pl-ent {
  color: #22863a;
}

.home .pl-k {
  color: #d73a49;
}

.home .pl-pds,
.home .pl-s,
.home .pl-s .pl-pse .pl-s1,
.home .pl-sr,
.home .pl-sr .pl-cce,
.home .pl-sr .pl-sra,
.home .pl-sr .pl-sre {
  color: #032f62;
}

.home .pl-smw,
.home .pl-v {
  color: #e36209;
}

.home .pl-bu {
  color: #b31d28;
}

.home .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.home .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.home .pl-c2:before {
  content: "^M";
}

.home .pl-sr .pl-cce {
  font-weight: 700;
  color: #22863a;
}

.home .pl-ml {
  color: #735c0f;
}

.home .pl-mh,
.home .pl-mh .pl-en,
.home .pl-ms {
  font-weight: 700;
  color: #005cc5;
}

.home .pl-mi {
  font-style: italic;
  color: #24292e;
}

.home .pl-mb {
  font-weight: 700;
  color: #24292e;
}

.home .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.home .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.home .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.home .pl-mi2 {
  color: #eeeeee;
  background-color: #005cc5;
}

.home .pl-mdr {
  font-weight: 700;
  color: #6f42c1;
}

.home .pl-ba {
  color: #586069;
}

.home .pl-sg {
  color: #959da5;
}

.home .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.home .mb-0 {
  margin-bottom: 0 !important;
}

.home .my-2 {
  margin-bottom: 8px !important;
}

.home .my-2 {
  margin-top: 8px !important;
}

.home .pl-0 {
  padding-left: 0 !important;
}

.home .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.home .pl-1 {
  padding-left: 4px !important;
}

.home .pl-2 {
  padding-left: 8px !important;
}

.home .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.home .pl-3 {
  padding-left: 16px !important;
}

.home .pl-4 {
  padding-left: 24px !important;
}

.home .pl-5 {
  padding-left: 32px !important;
}

.home .pl-6 {
  padding-left: 40px !important;
}

.home .pl-7 {
  padding-left: 48px !important;
}

.home .pl-8 {
  padding-left: 64px !important;
}

.home .pl-9 {
  padding-left: 80px !important;
}

.home .pl-10 {
  padding-left: 96px !important;
}

.home .pl-11 {
  padding-left: 112px !important;
}

.home .pl-12 {
  padding-left: 128px !important;
}

.home hr {
  border-bottom-color: rgb(33, 37, 41);
}

.home kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.home:after,
.home:before {
  display: table;
  content: "";
}

.home:after {
  clear: both;
}

.home > :first-child {
  margin-top: 0 !important;
}

.home > :last-child {
  margin-bottom: 0 !important;
}

.home a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.home blockquote,
.home details,
.home dl,
.home ol,
.home p,
.home pre,
.home table,
.home ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.home hr {
  height: 0.05em;
  padding: 0;
  margin: 24px 0;
  background-color: rgb(33, 37, 41);
  border: 0;
}

.home blockquote {
  padding: 0 1em;
  color: rgb(33, 37, 41);
  border-left: 0.25em solid #eeeeee;
}

.home blockquote > :first-child {
  margin-top: 0;
}

.home blockquote > :last-child {
  margin-bottom: 0;
}

.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.home h1 {
  font-size: 2em;
}

.home h1,
.home h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.home h2 {
  font-size: 1.5em;
}

.home h3 {
  font-size: 1.25em;
}

.home h4 {
  font-size: 1em;
}

.home h5 {
  font-size: 0.875em;
}

.home h6 {
  font-size: 0.85em;
  color: rgb(33, 37, 41);
}

.home ol,
.home ul {
  padding-left: 2em;
}

.home ol ol,
.home ol ul,
.home ul ol,
.home ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.home li {
  word-wrap: break-all;
}

.home li > p {
  margin-top: 16px;
}

.home li + li {
  margin-top: 0.25em;
}

.home dl {
  padding: 0;
}

.home dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.home dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.home table {
  display: table;
  width: 100%;
  overflow: auto;
}

.home table th {
  font-weight: 600;
}

.home table td,
.home table th {
  padding: 6px 13px;
  border: 1px solid #eeeeee;
}

.home table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.home table tr:nth-child(2n) {
  background-color: inherit;
}

.home img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

.home img[align="right"] {
  padding-left: 20px;
}

.home img[align="left"] {
  padding-right: 20px;
}

.home code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #eeeeee;
  border-radius: 3px;
}

.home pre {
  word-wrap: normal;
}

.home pre > code {
  padding: 0;
  margin: 0;
  tab-size: 3;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.home .highlight {
  margin-bottom: 16px;
}

.home .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.home .highlight pre,
.home pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #eeeeee;
  border-radius: 3px;
}

.home pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

.home .commit-tease-sha {
  display: inline-block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 90%;
  color: #444d56;
}

.home .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.home .blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.home .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.home .blob-num {
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  line-height: 20px;
  color: rgba(27, 31, 35, 0.3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home .blob-num:hover {
  color: rgba(27, 31, 35, 0.6);
}

.home .blob-num:before {
  content: attr(data-line-number);
}

.home .blob-code {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}

.home .blob-code-inner {
  overflow: visible;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
}

.home .pl-token.active,
.home .pl-token:hover {
  cursor: pointer;
  background: #ffea7f;
}

.home .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

.home .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

.home .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

.home .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

.home .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

.home .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

.home .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

.home .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

.home .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

.home .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

.home .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

.home .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

.home .task-list-item {
  list-style-type: none;
}

.home .task-list-item + .task-list-item {
  margin-top: 3px;
}

.home .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
