* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.background {
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 768px;
  height: 80px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
    height: 300px;
    padding: 0 20px;
  }
}

.header-subtitle {
  font-size: 20px;
  font-weight: 400;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.header-title {
  margin-right: 50px;
  font-size: 35px;
  font-weight: 700;
  text-align: left;

  @media (max-width: 768px) {
    font-size: 25px;
  }
}

.navbar {
  list-style-type: none;
  width: 300px;
  margin: 10px 0;
  padding: 10px 0;
}

.navbar > li {
  float: left;
}

.navbar > li > a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0 20px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 768px;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

.todo-item-inputs > input:disabled,
.todo-item-textarea > textarea:disabled {
  border: 0;
}

.footer {
  display: grid;
  margin-top: auto;
  padding: 50px 0;
  font-size: 15px;
  text-align: center;
  line-height: 1.8;
  place-content: center;

  @media (max-width: 768px) {
    font-size: 13px;
  }
}

.modal-outter {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-wrapper {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
}

.modal-inner {
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 10px;
  width: 360px;
  max-width: 480px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 40px 20px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
